body {
    width: 1366px;
    padding: 0;
}

.main-backgraund {
    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    padding-top: 46px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1px;
}

h1 {
    font-size: 29px;
    line-height: 29px;
}

h2 {
    font-size: 18px;
    line-height: 18px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.logo-link {
    display: flex;
    justify-content: flex-end;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 1px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    /* margin-top: 51px; */
}

.img-logo {
    width: 53px;
    height: 47px;
    position: relative;
}

.main-section {
    width: 1024px;
    margin: 17px auto;
}

.card-list {

    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "label1 label2 label3"
        "label4 label5 label6";
    column-gap: 62px;
    row-gap: 30px;
}

.card-link-label1 {
    grid-area: label1;
}

.card-link-label2 {
    grid-area: label2;
}

.card-link-label2 {
    grid-area: label2;
}

.card-link-label3 {
    grid-area: label3;
}

.card-link-label4 {
    grid-area: label4;
}

.card-link-label5 {
    grid-area: label5;
}

.card-link-label6 {
    grid-area: label6;
}

.card-img {
    text-align: center;
    width: 300px;
    height: 220px;
}

.logo-link:hover>.logo-text>h2 {
    color: #F26522;
}

.logo-link:hover>.logo-text>h1 {
    color: #F26522;
}

.img-logo-hover {
    position: absolute;
    display: none;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.logo-link:hover .img-logo-hover {
    display: block;
}

.card-deskription {
    text-align: center;
    margin-top: 20px;
}

.card-link:hover>.card-deskription {
    color: #F26522;
}

.email-link:hover>h3 {
    color: #F26522;
}

.phone-link:hover>h3 {
    color: #F26522;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

.footer-content {
    text-align: center;
    padding-top: 1px;
    margin-top: 49px;
    padding-bottom: 15px;
}

.email-link {
    margin-bottom: 19px;
}

.card-link {
    position: relative;
}

.card-block {
    position: absolute;
    left: 0;
    top: 165px;
    right: 0;
    /* top:50px; */
    background: #F26522;
    display: none;
    height: 55px;
    transition: 500ms;
}

.card-link:hover .card-block {
    display: block;
}

.block-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-from {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

.price {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 8px;
}

.card-block-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 7px;
    margin-left: 16px;
    margin-right: 37px;
    margin-bottom: 12px;
    position: relative;
}

.arrow-right:before {
    border-left: 1.5px solid #FFFFFF;
    border-top: 1.5px solid #FFFFFF;
    width: 7px;
    content: '';
    height: 7px;
    transform: rotate(135deg);
    position: absolute;
    left: 258px;
    bottom: 4px;
    float: right;
}

.span-details {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}